/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}





/* GENERAL */
.app_container{
    width: 100%;
    height: 100vh;
}





/* HEADER */
header{
    height: 80px;
    padding: 0 20px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
}
.right_header *{
    font-size: 18px;
}
.right_header select{
    padding-right: 50px;
}
#play_btn{
    padding-left: 30px;
    padding-right: 30px;
}





/* MAIN */
main{
    height: calc(100% - 140px);
    background-color: #7fffd4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid_container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.box{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* FOOTER */
footer{
    height: 60px;
}